<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sao.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.sao.pojo.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userName" jdbcType="CHAR" property="username" />
		<result column="userPassword" jdbcType="CHAR" property="userpassword" />
		<result column="userEmail" jdbcType="CHAR" property="useremail" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userName, userPassword, userEmail
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sao.pojo.User">
		insert into user (id, userName, userPassword,
		userEmail)
		values (#{id,jdbcType=INTEGER}, #{username,jdbcType=CHAR},
		#{userpassword,jdbcType=CHAR},
		#{useremail,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sao.pojo.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				userName,
			</if>
			<if test="userpassword != null">
				userPassword,
			</if>
			<if test="useremail != null">
				userEmail,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=CHAR},
			</if>
			<if test="userpassword != null">
				#{userpassword,jdbcType=CHAR},
			</if>
			<if test="useremail != null">
				#{useremail,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sao.pojo.User">
		update user
		<set>
			<if test="username != null">
				userName = #{username,jdbcType=CHAR},
			</if>
			<if test="userpassword != null">
				userPassword = #{userpassword,jdbcType=CHAR},
			</if>
			<if test="useremail != null">
				userEmail = #{useremail,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sao.pojo.User">
		update user
		set userName = #{username,jdbcType=CHAR},
		userPassword = #{userpassword,jdbcType=CHAR},
		userEmail = #{useremail,jdbcType=CHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectByUserEmail" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where userEmail = #{userEmail,jdbcType= CHAR}
	</select>
	
</mapper>